.header {

    .header-title {
        text-align: center;
        margin: 50px auto 20px;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
